<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="./css/styles.css">
        <link rel="icon" href="./img/weather.png">
        <body>
            <div class="main-content">
            {{>header}}
            
            <img class="sha" src="./img/fin.jpg" alt="image">
            </div>
        </body>
    </head>
    {{>footer}}

</html>
